lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules
# for now, though this is worth keeping in mind: http://www.futurealoof.com/posts/nodemodules-in-git.html